<div class="container">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder=" name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" required placeholder=" last name..">

    <label for="email">Alt</label>
    <input type="text" id="email" name="email" required placeholder=" email..">
  
    
   

    <div class="buttons">
      <button type="button" class="btn btn-success" (click)="addNewContact()">Speicher</button>
      <button type="button" class="btn btn-danger" (click)="cancel()"> Abbrechen</button>
    </div>


</div>
